In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel('game.xlsx')
df

   Days Outlook Temprature  Routine Wear Jacket?
0     1   Sunny       Cold   Indoor           No
1     2  Cloudy       Cold   Indoor          Yes
2     3  Cloudy       Warm  Outdoor           No
3     4   Sunny       Cold  Outdoor          Yes
4     5  Cloudy       Cold  Outdoor          Yes
5     6   Sunny       Warm  Outdoor           No
6     7  Cloudy       Warm   Indoor           No
7     8   Sunny       Warm   Indoor           No

In [4]:
df.drop('Days',axis=1,inplace=True)
df.head()

  Outlook Temprature  Routine Wear Jacket?
0   Sunny       Cold   Indoor           No
1  Cloudy       Cold   Indoor          Yes
2  Cloudy       Warm  Outdoor           No
3   Sunny       Cold  Outdoor          Yes
4  Cloudy       Cold  Outdoor          Yes

In [5]:
x = df.drop('Wear Jacket?',axis=1)
x.head()

  Outlook Temprature  Routine
0   Sunny       Cold   Indoor
1  Cloudy       Cold   Indoor
2  Cloudy       Warm  Outdoor
3   Sunny       Cold  Outdoor
4  Cloudy       Cold  Outdoor

In [6]:
y = df[['Wear Jacket?']]
y

  Wear Jacket?
0           No
1          Yes
2           No
3          Yes
4          Yes
5           No
6           No
7           No

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
from pandas.core.dtypes.common import is_numeric_dtype

In [9]:
for col in x.columns:
    if is_numeric_dtype(x[col]):
        continue
    else:
        x[col] = le.fit_transform(x[col])
        
x.head()

   Outlook  Temprature  Routine
0        1           0        0
1        0           0        0
2        0           1        1
3        1           0        1
4        0           0        1